/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*@font-face {
    font-family: SourceSansPro-Light;
    src: url("../font/source-sans-pro/SourceSansPro-Light.otf");
}*/
@font-face {
    font-family:'iranian-sans';
    src:url('../font/irsans/irsans.eot');
    src:url('../font/irsans/irsans.woff') format('woff'),
    url('../font/irsans/irsans.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}

body {
    /*font-family: SourceSansPro-Light, Arial, Helvetica, sans-serif; */
    font-family: iranian-sans, tahoma;
    font-size: 100%;
    color: #333;
    direction: rtl;
}

h1 {
    font-family: serif;
    font-size: 4rem;
    line-height: 140%;
}

h2 {
    font-size: 2.6rem;
    line-height: 150%;
}

h3 {
    font-size: 2.2rem;
    line-height: 160%;
}

h4 {
    font-size: 1.8rem;
    line-height: 170%;
}

h5 {
    font-size: 1.6rem;
    line-height: 180%;
}

h6 {
    font-size: 1.4rem;
    line-height: 180%;
}

p {
    font-size: 1.4rem;
    line-height: 180%;
}





.caricature-page {
    background: #367497;
    width: 100%;
    height: 100vh;
}
.caricature-page .caricature-image {
    direction: ltr;
    background: url("../img/caricature.png") no-repeat;
    width: 700px;
    height: 100%;
    margin: 0 auto;
}

.caricature-page .caricature-image .click{
    background: url("../img/caricature-click.png") no-repeat;
    display: none;
    position: relative;
    top: 264px;
    left: 240px ;
    width: 16px;
    height: 17px;
}

@media only screen and (max-width: 700px) {
    .caricature-page .caricature-image {
        background-size: cover;
        width: 100%;
    }
    .caricature-page .caricature-image .eyes {
        display: none;
    }
}

.first-page {
    background: url("../img/first-page-bg.png") fixed center;
    background-size: cover;
    height: 65vh;
    text-align: center;
    width: 100%;
    color: #F9C711;
    text-shadow: 0 0 20px #000;
    font-size: 36px;
    padding-top: 200px;
    padding-bottom: 60px;
}

.description-page {
    padding: 40px 10vw 200px 10vw;
    background: #588DB9 url("../img/description-page-bg.jpg") bottom repeat-x;
    color: #fff;
    text-shadow: 0 0 1px #000;
    text-align: center;
    /*text-align: justify;*/
}

.article-page {
    padding: 40px 10vw;
    background-color: #385472;
    color: #89C0EE;
    text-shadow: 0 0 1px #000;
    text-align: center;
    /*text-align: justify;*/
}
.article-page .submit-text {
    color: #f9fbff;
    text-shadow: 0 0 1px #000;
}
.article-page .submit-text a {
    color: #8dc5f4;
    text-decoration: none;
}
.article-page .submit-text a:hover {
    color: #709cc6;
    text-shadow: 0 0 1px #000;
}

@media only screen and (max-width: 700px) {
    .description-page, .article-page {
        text-align: justify;
    }
}

.venue-page {
    background: url("../img/sadra.jpg") bottom left;
    background-size: cover;
}
.venue-page .venue-info {
    width: 97vmin;
    height: 400px;
    background-color: rgba(249, 199, 17, 0.3);
    /*background-color: rgba(109, 207, 246, 0.5);*/
}
.venue-page .venue-info .venue-text {
    color: #182d3a;
    /*color: #F9C711;*/
    /*text-shadow: 0 0 1px #000;*/
    padding: 20px;
}

.venue-page .map {
    background: url("../img/map.png") center;
    width: 97vmin;
    height: 400px;
    border: none;
    display: block;
    /*pointer-events: none;*/
}



.coming-soon-page {
    background: #eee url("../img/empty.gif") repeat;
    padding: 50px;
    /*color: #363636;*/
    color: #F9C711;
    text-shadow: 0 0 8px #000;
    text-align: center;
}



.contact-page {
    background: url("../img/first-page-bg.png") fixed center;
    background-size: cover;
    height: 100vh;
    text-align: center;
    width: 100%;
    padding-top: 20vh;
    direction: ltr;
}
.contact-page ul {
    display: inline-block;
    margin: 0 auto;
    text-align: left;
}
.contact-page ul li {
    list-style: none;
    padding: 10px;
}
.contact-page ul a {
    text-decoration: none;
    color: #F9C711;
    text-shadow: 0 0 20px #000;
    font-size: 1.2rem;
}





/*Board Chart*/
.board-chart {
    text-shadow: none;
    direction: ltr;
    display: block;
    height: 200px;
    width: 650px;
    margin: 0 auto;

}

@media only screen and (max-width: 700px) {
    .board-chart {
        display: none;
    }
}

.board-chart * {margin: 0; padding: 0;}

.board-chart ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.board-chart li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.board-chart li::before, .board-chart li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #fff;
    width: 50%; height: 20px;
}
.board-chart li::after{
    right: auto; left: 50%;
    border-left: 1px solid #fff;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.board-chart li:only-child::after, .board-chart li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.board-chart li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.board-chart li:first-child::before, .board-chart li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.board-chart li:last-child::before{
    border-right: 1px solid #fff;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.board-chart li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.board-chart ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #fff;
    width: 0; height: 20px;
}

.board-chart li a{
    border: 1px solid #fff;
    padding: 5px 10px;
    text-decoration: none;
    /*color: #666;*/
    /*font-family: arial, verdana, tahoma;*/
    font-size: 20px;
    display: inline-block;

    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.board-chart li a:hover, .board-chart li a:hover+ul li a {
    /*background: #c8e4f8; color: #000; border: 1px solid #94a0b4;*/
    background: #F9C711; color: #000; border: 1px solid #F9C711;
}
/*Connector styles on hover*/
.board-chart li a:hover+ul li::after,
.board-chart li a:hover+ul li::before,
.board-chart li a:hover+ul::before,
.board-chart li a:hover+ul ul::before{
    border-color:  #F9C711;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
