/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*@font-face {
    font-family: SourceSansPro-Light;
    src: url("../font/source-sans-pro/SourceSansPro-Light.otf");
}*/
@font-face {
    font-family:'iranian-sans';
    src:url('../font/irsans/irsans.eot');
    src:url('../font/irsans/irsans.woff') format('woff'),
    url('../font/irsans/irsans.ttf') format('truetype');
    font-weight:normal;
    font-style:normal
}

html, body {
    height: 100%;
}
body {
    /*font-family: SourceSansPro-Light, Arial, Helvetica, sans-serif; */
    font-family: iranian-sans, sans-serif;
    font-size: 100%;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#277297+0,4696aa+70,277297+100 */
    background: #277297; /* Old browsers */
    background: -moz-linear-gradient(top,  #277297 0%, #4696aa 70%, #277297 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #277297 0%,#4696aa 70%,#277297 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #277297 0%,#4696aa 70%,#277297 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#277297', endColorstr='#277297',GradientType=0 ); /* IE6-9 */



    color: #333;
    direction: rtl;
    overflow-x: hidden;
}

h1 {
    font-family: serif;
    font-size: 5rem;
    line-height: 140%;
    margin-left: 10vh;
    margin-right: 10vh;
}

h2 {
    font-size: 3rem;
    line-height: 150%;
    margin-left: 10vh;
    margin-right: 10vh;}

h3 {
    font-size: 2.2rem;
    line-height: 160%;
    margin-left: 10vh;
    margin-right: 10vh;}

h4 {
    font-size: 1.8rem;
    line-height: 170%;
    margin-left: 10vh;
    margin-right: 10vh;}

h5 {
    font-size: 1.6rem;
    line-height: 180%;
    margin-left: 10vh;
    margin-right: 10vh;}

h6 {
    font-size: 1.4rem;
    line-height: 180%;
    margin-left: 10vh;
    margin-right: 10vh;}

p {
    font-size: 1.4rem;
    line-height: 180%;
    margin-left: 10vh;
    margin-right: 10vh;}





.page {
    width: 100%;
    min-height: 100vh;
}

.free-space-10 {
    height: 10vh;
    /*border: 1px solid red;*/
}

.divider {
    border-top: 1px dashed #fff;
}

.clear {
    clear: both;
    height: 50px;
}

.caricature-page {
    height: 100vh;
}
.caricature-page .caricature-image {
    direction: ltr;
    background: url("../img/caricature.png") no-repeat;
    width: 700px;
    height: 100%;
    margin: 0 auto;
}

.caricature-page .caricature-image .click{
    background: url("../img/caricature-click.png") no-repeat;
    display: none;
    position: relative;
    top: 291px;
    left: 238px ;
    width: 17px;
    height: 20px;
}


@media only screen and (max-width: 700px) {
    .caricature-page .caricature-image {
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .caricature-page .caricature-image .eyes {
        display: none;
    }
}



@keyframes move {
    0% {
        background-position: 0 60%, 0 50%;
    }
    100% {
        background-position: 0 60%, 100% 50%;
    }
}

.bg-animation {
    background-color: #55D0F7;
    /*background-image: url('../img/network.svg'), radial-gradient(200px 1000px at center, #ff8300 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));*/
    background-image: url('../img/network.svg'), radial-gradient(200px 1000px at center, #ff450a 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0));
    background-size: 60%, 50% 100%;
    background-position: 0 80%, 0 100%;
    animation: move 5s linear infinite;

    /*box-shadow: inset 0 0 25px rgba(0,0,0,.5);*/
    /*border: 2px solid #fff;*/
    /*border-right: 0;*/
    /*border-left: 0;*/

    border: 1px solid #55D0F7;
    border-right: 0;
    border-left: 0;

}

.first-page {
    /*background: url("../img/first-page-bg.jpg") fixed center;*/
    /*background-size: cover;*/
    text-align: center;
    width: 100%;
    color: #F9C711;
    text-shadow: 0 0 10px #000;
}
@media only screen and (max-width: 700px) {
    .first-page h1 {
        font-size: 2rem;
    }
    .first-page h2 {
        font-size: 1.8rem;
    }
}

.description-page {
    color: #fff;
    text-shadow: 0 0 1px #000;
    text-align: center;
}

.article-page {
    color: #b5dcfb;
    text-shadow: 0 0 1px #000;
    text-align: center;
    min-height: inherit;
}
.article-page strong {
    color: #fff;
}
.article-page .submit-text {
    color: #f9fbff;
    text-shadow: 0 0 1px #000;
}
.article-page .submit-text a {
    color: #8dc5f4;
    text-decoration: none;
}
.article-page .submit-text a:hover {
    color: #709cc6;
    text-shadow: 0 0 1px #000;
}

@media only screen and (max-width: 700px) {
    .description-page, .article-page {
        text-align: justify;
    }
}

.iran-symbol {
    background: url("../img/iran.cover.2.png") bottom no-repeat;
    background-size: contain;
    height: 100vh;
    max-height: 400px;
}

.poster-page {
    /*background-color: #1B475C;*/
    background-color: #0C495A;
    color: #fff;
    text-align: center;
}

.poster-page img {
    /*background-color: #1B475C;*/
    background-color: #0C495A;
    color: #fff;
    text-align: center;
    border-radius: 3px;
}

@media only screen and (max-width: 700px) {
    .poster-page img {
        width: 60vw;
    }
}


.venue-page {
    width: 100%;
    height: 50vh;
    min-height: 500px;
}
.venue-page p {
    color: #fff;
    text-shadow: 0 0 1px #000;
}
#map {
    width: 100%;
    height: 100%;
}
.mapMarkerContent {
    color: #0C495A;
}

.coming-soon-page {
    background: #eee url("../img/empty.gif") repeat fixed;
    color: #363636;
    /*text-shadow: 0 0 8px #fff;*/
    text-align: center;
}



.contact-page {
    background: #277297;
    text-align: center;
}
.contact-page ul {
    display: inline-block;
    margin: 0 auto;
    text-align: right;
}
.contact-page ul li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}
.contact-page ul a {
    text-decoration: none;
    /*color: #444;*/
    color: #F9C711;
    text-shadow: 0 0 25px #000;
    font-size: 1.6rem;
}
.contact-page ul a:hover {
    color: #fff;
    text-shadow: 0 0 15px #000;
}
.contact-page p {
    margin-left: 20px;
    color: #fff;
    text-shadow: 0 0 15px #000;
    /*font-size: 1.6rem;*/
}
@media only screen and (max-width: 700px) {
    .contact-page p {
        text-align: right;
    }
}



.footer {
    /*border-top: 1px solid #F9C711;*/
    border-top: 1px dashed #fff;
    border-bottom: 1px solid #295973;
    background-color: #295973;
    /*border-bottom: 1px solid #295973;*/
    /*background-color: #295973;*/
}
.footer p {
    letter-spacing: 0.1em;
    text-align: center;
    font-size: 10px;
    margin: 3px;
    color: #fff;
}








/*Board Chart*/
.board-chart {
    text-shadow: none;
    direction: ltr;
    width: 700px;
    margin: 0 auto;

}

@media only screen and (max-width: 700px) {
    .board-chart {
        display: none;
    }
}

.board-chart * {margin: 0; padding: 0;}

.board-chart ul {
    padding-top: 20px;
    position: relative;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

.board-chart li {
    float: left; text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 0 5px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.board-chart li::before, .board-chart li::after{
    content: '';
    position: absolute; top: 0; right: 50%;
    border-top: 1px solid #F9C711;
    width: 50%; height: 20px;
}
.board-chart li::after{
    right: auto; left: 50%;
    border-left: 1px solid #F9C711;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.board-chart li:only-child::after, .board-chart li:only-child::before {
    display: none;
}

/*Remove space from the top of single children*/
.board-chart li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.board-chart li:first-child::before, .board-chart li:last-child::after{
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.board-chart li:last-child::before{
    border-right: 1px solid #F9C711;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
.board-chart li:first-child::after{
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.board-chart ul ul::before{
    content: '';
    position: absolute; top: 0; left: 50%;
    border-left: 1px solid #F9C711;
    width: 0; height: 20px;
}

.board-chart li a{
    border: 1px solid #F9C711;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
    background-color: #F9C711;
    /*font-family: arial, verdana, tahoma;*/
    font-size: 20px;
    display: inline-block;

    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;

    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.board-chart li a:hover, .board-chart li a:hover+ul li a {
    /*background: #c8e4f8; color: #000; border: 1px solid #94a0b4;*/
    background: #fff;
    color: #000;
    border: 1px solid #fff;
}
/*Connector styles on hover*/
.board-chart li a:hover+ul li::after,
.board-chart li a:hover+ul li::before,
.board-chart li a:hover+ul::before,
.board-chart li a:hover+ul ul::before{
    border-color:  #fff;
}






.languages {
    direction: ltr;
    position: absolute;
    top: 5px;
    left: 10px;
    border: 1px solid #b4b4b4;
    border-radius: 3px;
}
.languages:hover {
    border: 1px solid #ffffff;
}
.languages ul {
    list-style: none;
    margin: 0;
    padding: 4px 8px;
}
.languages ul a {
    color: #fff;
    text-decoration: none;
}
.languages ul a img {
    width: 20px;
    vertical-align: baseline;
}
.languages ul li {
    display: none;
}
.languages ul .active {
    display: inline-block;
}



.loading {
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-color: #367497;
}

.cssload-loader {
    width: 146px;
    height: 146px;
    line-height: 146px;
    margin: 100px auto;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    z-index: 0;
    text-transform: uppercase;
    -o-text-transform: uppercase;
    -ms-text-transform: uppercase;
    -webkit-text-transform: uppercase;
    -moz-text-transform: uppercase;
}

.cssload-loader:before,
.cssload-loader:after {
    opacity: 0;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    content: "\0020";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 97px;
    border: 5px solid rgb(110,207,246);
    box-shadow: 0 0 49px rgb(110,207,246), inset 0 0 49px rgb(110,207,246);
    -o-box-shadow: 0 0 49px rgb(110,207,246), inset 0 0 49px rgb(110,207,246);
    -ms-box-shadow: 0 0 49px rgb(110,207,246), inset 0 0 49px rgb(110,207,246);
    -webkit-box-shadow: 0 0 49px rgb(110,207,246), inset 0 0 49px rgb(110,207,246);
    -moz-box-shadow: 0 0 49px rgb(110,207,246), inset 0 0 49px rgb(110,207,246);
}

.cssload-loader:after {
    z-index: 1;
    animation: cssload-gogoloader 2.9s infinite 1.45s;
    -o-animation: cssload-gogoloader 2.9s infinite 1.45s;
    -ms-animation: cssload-gogoloader 2.9s infinite 1.45s;
    -webkit-animation: cssload-gogoloader 2.9s infinite 1.45s;
    -moz-animation: cssload-gogoloader 2.9s infinite 1.45s;
}

.cssload-loader:before {
    z-index: 2;
    animation: cssload-gogoloader 2.9s infinite;
    -o-animation: cssload-gogoloader 2.9s infinite;
    -ms-animation: cssload-gogoloader 2.9s infinite;
    -webkit-animation: cssload-gogoloader 2.9s infinite;
    -moz-animation: cssload-gogoloader 2.9s infinite;
}



@keyframes cssload-gogoloader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@-o-keyframes cssload-gogoloader {
    0% {
        -o-transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -o-transform: scale(1);
        opacity: 0;
    }
}

@-ms-keyframes cssload-gogoloader {
    0% {
        -ms-transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -ms-transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-gogoloader {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@-moz-keyframes cssload-gogoloader {
    0% {
        -moz-transform: scale(0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0;
    }
}









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                          http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
